body {
	color: #2f2f2f;
	font-family: arial;
	font-size: 13px;
	padding: 20px;
}

.clear:before,
.clear:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.clear:after {
	clear: both;
}

.treedoc {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.treedoc ul ul {
	display: none;
	margin-bottom: 0;
	margin-top: 0;
}

.treedoc ul .open > ul {
	display: block;
}

.treedoc li {
	cursor: default;
}

.treedoc ul {
	list-style-type: none;
	margin-left: 2.142857142857143em;
	padding-left: 0;
}

.treedoc ul > li {
	position: relative;
}

.treedoc li > i {
	display: inline-block;
	font-family: FontAwesome;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-weight: normal;
	left: -2.142857142857143em;
	line-height: 1;
	position: absolute;
	text-align: center;
	top: .14285714285714285em;
	width: 2.142857142857143em;
}

.treedoc .folder > i {
	cursor: pointer;
}

.treedoc .folder.empty > i {
	cursor: default;
}

.treedoc li i:before {
	content: "\f105";
}

.treedoc .folder > i:before {
	content: "\f07b";
}

.treedoc .folder.open > i:before {
	content: "\f07c";
}

.treedoc .folder.empty > i:before {
	content: "\f114";
}

.treemenu {
	background-color: rgba(119, 170, 255, 0.9);
	-moz-border-radius: 1em 2em;
	border-radius: 1em 2em;
	display: none;
	height: 25px;
	padding: 5px 20px;
	position: absolute;
}

.treemenu > ul > li #random {
	display: none;
}

.treemenu.rename .treemenucontent,
.treemenu.add .treemenucontent,
.treemenu.random .treemenucontent,
.treemenu.delete .treemenucontent {
	display: block;
}

.treemenu.rename .rename,
.treemenu.add .add,
.treemenu.random .random,
.treemenu.delete .delete {
	display: block;
}

.treemenu .treemenubuttons {
	display: block;
}

.treemenu.rename .treemenubuttons,
.treemenu.add .treemenubuttons,
.treemenu.random .treemenubuttons,
.treemenu.delete .treemenubuttons {
	display: none;
}

.treemenu #add,
.treemenu #random {
	display: none;
}

.treemenu.folder.root #add,
.treemenu.folder:not(.root) #random {
	display: inline-block;
}

.treemenu i {
	display: inline-block;
	font-family: FontAwesome;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-align: center;
}

.treemenu i:not(:first-child) {
	padding-left: 15px;
}

.treemenu i:hover {
	color: #999;
	cursor: pointer;
}

.treemenu i.fa-trash-o,
.treemenu i.fa-trash-o:hover,
.treemenu i.fa-thumbs-down,
.treemenu i.fa-thumbs-down:hover {
	color: #f00;
}

.treemenu i.fa-thumbs-up,
.treemenu i.fa-thumbs-up:hover {
	color: #0f0;
}

.treemenucontent {
	display: none;
	position: relative;
}

.treemenucontent > div {
	display: none;
}

.treemenucontent .text {
	font-weight: bold;
	position: relative;
	top: -4px;
}

.treemenucontent .fa-level-up {
	left: -15px;
	position: absolute;
	top: -1px;
}

.treemenu .rename .text,
.treemenu .add .text,
.treemenu .random .text {
	padding-right: 10px;
}

.treemenu .rename .editnode,
.treemenu .add .addnode {
	display: none;
}

.treemenu.node .rename .editnode,
.treemenu.node .add .addnode,
.treemenu.root .rename .editnode {
	display: inline-block;
}

.treemenu.node .rename .editfactory,
.treemenu.node .add .addfactory,
.treemenu.root .rename .editfactory {
	display: none;
}

.treemenu .rename input,
.treemenu .add input {
	position: relative;
	top: -4px;
	width: 60px;
}

.treemenu .rename input[type="text"],
.treemenu .add input[type="text"] {
	width: 120px;
}

.treemenu .random .rangeoutput {
	display: inline-block;
	width: 12px;
}
